<h1 class="brew-title">Add Shop</h1>
<form name="addForm" ng-submit="vm.submitForm(addForm.$valid)" novalidate>
    <div class="row">
        <div class="medium-3 columns">
            <label for="name" class="right" ng-class="{ 'is-invalid-label': addForm.name.$invalid && addForm.$submitted }">Name</label>
        </div>
        <div class="medium-9 columns">
            <input type="text" id="name" name="name" ng-model="vm.shop.name" required maxlength="80" 
                    ng-class="{ 'is-invalid-input': addForm.name.$invalid && addForm.$submitted }" />
            <div class="messages" ng-messages="addForm.name.$error" ng-show="addForm.name.$invalid && addForm.$submitted">
                <span class="message form-error is-visible" ng-message="required">Required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            <label for="address" class="right" ng-class="{ 'is-invalid-label': addForm.address.$invalid && addForm.$submitted }">Address</label>
        </div>
        <div class="medium-9 columns">
            <input type="text" id="address" name="address" ng-model="vm.shop.address" required maxlength="255" 
                    ng-class="{ 'is-invalid-input': addForm.address.$invalid && addForm.$submitted }" />
            <div class="messages" ng-messages="addForm.address.$error" ng-show="addForm.address.$invalid && addForm.$submitted">
                <small class="message form-error is-visible" ng-message="required">Required</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            <label for="price" class="right" ng-class="{ 'is-invalid-label': addForm.price.$invalid && addForm.$submitted }">Coffee Price</label>
        </div>
        <div class="medium-9 columns">
            <input type="text" id="price" name="price" ng-model="vm.shop.mediumCoffeePrice" required maxlength="255" 
                    ng-class="{ 'is-invalid-input': addForm.price.$invalid && addForm.$submitted }" />
            <div class="messages" ng-messages="addForm.price.$error" ng-show="addForm.price.$invalid && addForm.$submitted">
                <small class="message form-error is-visible" ng-message="required">Required</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            <label for="rating" class="right" ng-class="{ 'is-invalid-label': addForm.rating.$invalid && addForm.$submitted }">Rating</label>
        </div>
        <div class="medium-9 columns">
            <input type="number" id="rating" name="rating" ng-model="vm.shop.rating" required 
                    ng-class="{ 'is-invalid-input': addForm.rating.$invalid && addForm.$submitted }" />
            <div class="messages" ng-messages="addForm.rating.$error" ng-show="addForm.rating.$invalid && addForm.$submitted">
                <small class="message form-error is-visible" ng-message="required">Required</small>
            </div>
        </div>
    </div>
    <div class="row form-actions">
        <div class="small-12 columns">
            <input type="submit" value="Submit" class="button" />
        </div>
    </div>
</form>
