/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
//$topbar-background: #5AADBB;

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation-sites/scss/foundation.scss';
@include foundation-everything;

/**
 *  Imports for other 3rd party components
*/
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.thumbnail {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.brand-title {
    font-size: 1.6em;
}

.brewTitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

#mainAddLink {
    margin-top: 35px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
